<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="side"></ion-menu-button>
    </ion-buttons>
    <ion-title>Stories</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showSortPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-list>
          <ion-list-header class="ion-margin-bottom">
            <h2 style="width: 100%;">{{category | titlecase}} Stories</h2>
            <ion-button fill="outline"
              size="small"
              shape="round"
              (click)="showCategoryActionSheet()">Category
            </ion-button>
          </ion-list-header>

          <div *ngIf="articles; else skeleton">
            <ion-item *ngFor="let article of articles | async" 
              button
              (press)="showStoryActionSheet(article)"
              (click)="openLink(article.url)">
              <ion-avatar slot="start">
                <img [src]="article.urlToImage" 
                  onerror="this.src='../../assets/newspaper-outline.svg'"/>
              </ion-avatar>
              <ion-label text-wrap>
                <h2>{{article.title}}</h2>
                <ion-note color="tertiary">{{article.source}}, {{article.publishedAt | date:'MMM d, H:mm'}}</ion-note>
                <p>{{article.description}}</p>
              </ion-label>
            </ion-item>
          </div>

          <!-- Skeleton text -->
          <ng-template #skeleton>
            <ion-item *ngFor="let item of [0,1,2,3,4,5,6,7,8]">
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ng-template>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>