<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Profile</ion-label>
    </ion-list-header>
    <ion-item button detail routerLink="profile">
      <ion-avatar slot="start">
        <ion-icon name="person-circle" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{user?.name}}</h2>
        <p>{{user?.email}}</p>
      </ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Appearance</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Theme</ion-label>
      <ion-select [(ngModel)]="theme" okText="OK" cancelText="Cancel" interface="popover"
        (ionChange)="onThemeChanged()">
        <ion-select-option *ngFor="let theme of settings.themes | keyvalue" value="{{theme.value}}">{{theme.value}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list-header>
      <ion-label>Security</ion-label>
    </ion-list-header>
    <ion-item button (click)="onChangePwdClicked()">
      <ion-label>Change Password</ion-label>
    </ion-item>
    <ion-item button (click)="onCloseAccountClicked()">
      <ion-label color="danger">Close Account</ion-label>
    </ion-item>
  </ion-list>
</ion-content>