<ion-card>
  <ion-card-header color="light">
    <ion-card-title>This {{label | titlecase}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item *ngFor="let item of ['High', 'Low', 'Average']">
      <ion-label>{{item}}</ion-label>
      <ion-chip #chip 
        slot="end" 
        [color]="(item === 'High') ? 'success' : (item === 'Low') ? 'warning' : 'secondary'">
        <ion-label *ngIf="stats">{{stats[item] | number : '1.2-2'}} {{units}}</ion-label>
        <ion-spinner *ngIf="!stats" 
          name="dots" 
          [color]="chip.color"></ion-spinner>
      </ion-chip>
    </ion-item>
  </ion-card-content>
</ion-card>