<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-list>
      <div class="ion-padding-bottom">
        <ion-item>
          <ion-label position="floating">Current Password</ion-label>
          <ion-input type="password" formControlName="current">
          </ion-input>
        </ion-item>
      </div>
      
      <div class="ion-padding-vertical">
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input type="password" formControlName="newPwd">
          </ion-input>
        </ion-item>
      </div>

      <div class="ion-padding-top">
        <ion-item>
          <ion-label position="floating">Confirm New Password</ion-label>
          <ion-input type="password" formControlName="confirm">
          </ion-input>
        </ion-item>
      </div>
    </ion-list>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding-bottom">
    <ion-button
      class="ion-padding-horizontal"
      (click)="onSubmit()"
      color="primary" 
      expand="full"
      shape="block"
      [disabled]="!form.valid">
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>
