<ion-content [fullscreen]="true" class="background">
  <div class="button-container">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3" size-lg="4" offset-lg="4">
          <ion-card color="transparent">
            <ion-card-header>
              <ion-avatar>
                <img src="../../../assets/logo.PNG">
              </ion-avatar>
              <h1 class="ion-padding-bottom">Fittrack</h1>
            </ion-card-header>
          
            <ion-card-content>
              <div class="ion-padding-vertical">
                <ion-button routerLink="/register" 
                  expand="full" 
                  shape="round" 
                  fill="solid" 
                  color="tertiary"
                >
                  Register
                </ion-button>
              </div>

              <div class="ion-padding-bottom">
                <ion-button routerLink="/login" 
                  expand="full"
                  shape="round"
                  fill="outline"
                  color="tertiary"
                >
                  Login
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
