.button-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
  
ion-content.background{
  --background: linear-gradient(to left top, #00c4ee, #00cee6, #00d6d3, #00ddb8, #40e197);
}

ion-card {
  box-shadow: none;

  ion-card-header {
    text-align: center;
    color: white;

    ion-avatar {
      margin: auto;
    }

    h1 {
      font-size: 64px;
      font-family: 'Raleway', sans-serif;
    }
  }
}