<ion-app>
  <ion-menu side="start" menuId="side" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle>
          <ion-item detail="false" routerLink="/about">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle *ngIf="isLoggedIn">
          <ion-item detail="false" routerLink="/settings">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle *ngIf="isLoggedIn">
          <ion-item detail="false" button (click)="auth.logout()">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Log out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
