<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/start-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="usersName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"  formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"  formControlName="password"></ion-input>
          </ion-item>      
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3">
          <ion-button expand="block" 
            class="ion-padding-vertical" 
            [disabled]="!form.valid" 
            (click)="onRegisterClick()">
            Register
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3" style="text-align: center;">
          <ion-button routerLink="/login"
            fill="clear"
            class="ion-padding-vertical"
            size="small">
            Login Instead
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>