<ion-header>
  <ion-toolbar>
    <ion-title>Set Targets</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSave()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-list>
      <ion-item lines="inset">
        <ion-label position="stacked">Water (ml)</ion-label>
        <ion-input type="number" formControlName="water"></ion-input>
      </ion-item>

      <ion-item lines="inset">
        <ion-label position="stacked">Weight (lbs)</ion-label>
        <ion-input type="number" formControlName="weight"></ion-input>
      </ion-item>

      <ion-item lines="inset">
        <ion-label position="stacked">Sleep (hrs)</ion-label>
        <ion-input type="number" formControlName="sleep"></ion-input>
      </ion-item>

      <ion-item button (click)="openBloodPressurePicker()">
        <ion-label>Blood Pressure</ion-label>
        <ion-chip slot="end" color="primary">
          <ion-label>{{target.bloodPressure.systolic}} / {{target.bloodPressure.diastolic}}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
