<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSave()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding-top">
    <form (keyup.enter)="onSubmit()">
      <ion-list>
        <ion-item lines="inset">
          <ion-label position="floating">Enter your Name</ion-label>
          <ion-input type="text" 
            name="inputName"
            position="floating" 
            [(ngModel)]="name"
            autocapitalize
            required
            autocorrect>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Change Profile Image</ion-label>
          <ion-button color="tertiary">
            <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
