<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-item>
            <ion-icon name="fast-food-outline" slot="start" color="warning"></ion-icon>
            <ion-label>Diet</ion-label>
            <ion-button fill="outline" slot="end" routerLink="/diet">View</ion-button>
          </ion-item>

          <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-item>
            <ion-icon name="fitness-outline" slot="start" color="danger"></ion-icon>
            <ion-label>Exercise</ion-label>
            <ion-button fill="outline" slot="end" routerLink="/exercise">View</ion-button>
          </ion-item>

          <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-item>
            <ion-icon name="bed-outline" slot="start" color="success"></ion-icon>
            <ion-label>Sleep</ion-label>
            <ion-button fill="outline" slot="end" routerLink="/sleep">View</ion-button>
          </ion-item>

          <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-item>
            <ion-icon name="water-outline" slot="start" color="primary"></ion-icon>
            <ion-label>Water</ion-label>
            <ion-button fill="outline" slot="end" routerLink="/water">View
            </ion-button>
          </ion-item>

          <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>