<ion-header>
  <app-chart-headerbar title="Sleep" (onAddClicked)="addClick($event)"></app-chart-headerbar>
  <ion-toolbar>
    <ion-segment
      #segment
      value="week"
      (ionChange)="segmentChanged($event)" 
      class="ion-justify-content-center">
      <ion-segment-button value="week">
        <ion-label>Week</ion-label>
      </ion-segment-button>
      <ion-segment-button value="month">
        <ion-label>Month</ion-label>
      </ion-segment-button>
      <ion-segment-button value="year">
        <ion-label>Year</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-padding-vertical">
      <ion-col size-lg="8" offset-lg="2" size-xl="6" offset-xl="3" class="ion-no-padding">
        <div class="chart-container" [ngClass]="{'chart-border': daysSubscription}">
          <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [chartType]="charts.chartType"
            [colors]="charts.colors"
            [options]="charts.options">
          </canvas>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
        <app-stats *ngIf="stats"
          [label]="segment.value"
          [stats]="stats"
          units="hrs">
        </app-stats>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
